In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir(os.getcwd().rsplit('/',1)[0])

In [3]:
# nominate columns
col_tar = ['beer_style']
col_cat = ['brewery_name']
col_num = ['review_aroma', 'review_appearance', 'review_palate', 'review_taste']

In [4]:
filepath = 'data/processed/beer_review_cleaned.csv'

# load data from csv
df = pd.read_csv('data/raw/beer_reviews.csv')

# clean up dataset: drop unrelated columns and drop rows that contain NA 
df_cleaned = df.copy()
df_cleaned = df[col_num + col_tar + col_cat]

# store data
df_cleaned.dropna(inplace=True)
# df_cleaned.to_csv('data/processed/beer_review_cleaned.csv', index=False)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
brewery_id            1586614 non-null int64
brewery_name          1586599 non-null object
review_time           1586614 non-null int64
review_overall        1586614 non-null float64
review_aroma          1586614 non-null float64
review_appearance     1586614 non-null float64
review_profilename    1586266 non-null object
beer_style            1586614 non-null object
review_palate         1586614 non-null float64
review_taste          1586614 non-null float64
beer_name             1586614 non-null object
beer_abv              1518829 non-null float64
beer_beerid           1586614 non-null int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [6]:
df_cleaned.sort_values('review_taste', ascending=False).head(5)

,review_aroma,review_appearance,review_palate,review_taste,beer_style,brewery_name
1244670,4.0,5.0,3.5,5.0,Irish Dry Stout,Guinness Ltd.
1491557,5.0,4.5,4.5,5.0,Quadrupel (Quad),Brouwerij Westvleteren (Sint-Sixtusabdij van W...
378870,5.0,5.0,5.0,5.0,American Double / Imperial IPA,The Alchemist
378869,5.0,4.5,4.5,5.0,American Double / Imperial IPA,The Alchemist
1491547,5.0,4.5,5.0,5.0,Quadrupel (Quad),Brouwerij Westvleteren (Sint-Sixtusabdij van W...

In [21]:
df = df_cleaned['beer_style'].value_counts()

In [22]:
df = pd.DataFrame(df)

df['pct'] = round(df['beer_style']/df.beer_style.sum()*100,1)
df.head(10)

                                  beer_style  pct
American IPA                          117584  7.4
American Double / Imperial IPA         85977  5.4
American Pale Ale (APA)                63469  4.0
Russian Imperial Stout                 54129  3.4
American Double / Imperial Stout       50705  3.2
American Porter                        50477  3.2
American Amber / Red Ale               45751  2.9
Belgian Strong Dark Ale                37743  2.4
Fruit / Vegetable Beer                 33861  2.1
American Strong Ale                    31945  2.0

In [25]:
same_scores = df_cleaned.groupby(['review_aroma', 'review_appearance', 'review_palate', 'review_taste', 'brewery_name', 'beer_style'])\
                .size().reset_index().rename(columns={0:'count'})
same_scores = same_scores.groupby(['review_aroma', 'review_appearance', 'review_palate', 'review_taste', 'brewery_name'])\
                .size().reset_index().rename(columns={0:'unique styles'})

same_scores.sort_values('unique styles', ascending=False, inplace=True)

same_scores.head(10)

,review_aroma,review_appearance,review_palate,review_taste,brewery_name,unique styles
263097,4.0,4.0,4.0,4.0,Iron Hill Brewery & Restaurant,54
262868,4.0,4.0,4.0,4.0,Goose Island Beer Co.,53
263838,4.0,4.0,4.0,4.0,Rock Bottom Restaurant & Brewery,51
262041,4.0,4.0,4.0,4.0,Boston Beer Company (Samuel Adams),48
241669,4.0,3.5,4.0,4.0,Boston Beer Company (Samuel Adams),48
256538,4.0,4.0,3.5,4.0,Boston Beer Company (Samuel Adams),48
196242,3.5,4.0,4.0,4.0,Boston Beer Company (Samuel Adams),47
170422,3.5,3.5,3.5,4.0,Boston Beer Company (Samuel Adams),45
194117,3.5,4.0,4.0,3.5,Boston Beer Company (Samuel Adams),45
188345,3.5,4.0,3.5,3.5,Boston Beer Company (Samuel Adams),45